@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Work+Sans:wght@100..900&display=swap");
@import "./variables.scss";
@import "./media.scss";
@import "./extends.scss";
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}
// ==========header=================
header {
  background-color: $bgGreen;
  .header-wrapper {
    padding: 35px 130px 82px;
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      .logo {
        display: flex;
        align-items: center;
        gap: 18px;
        .logo-img {
          width: 70px;
        }
        .logo-text {
          @include font-typography(
            $whiteColor,
            $fontFamilyWork,
            40px,
            normal,
            500,
            125%
          )
        }
      }
    }
  }
}
.nav-menu.visible {
  display: block;
  .nav-list {
    display: flex;
    gap: 30px;
    .dropdown-item {
      @include font-typography(
        $whiteColor,
        $fontFamilyWork,
        20px,
        normal,
        400,
        125%
      );
      cursor: pointer;
      list-style: none;
    }
    .dropdown-item:hover {
      color: $whiteColor75;
    }
  }
}
.nav-menu.hidden {
  display: none;

  .dropdown-menu {
    width: fit-content;
    background-color: transparent;
    border: none;
    padding: 0;
    .dropdown-item {
      @include font-typography(
        $whiteColor,
        $fontFamilyWork,
        20px,
        normal,
        400,
        125%
      );
      cursor: pointer;
      list-style: none;
      padding: 0;
    }
  }
}

.header-promo {
  display: flex;
  gap: 120px;
  .promo-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px 0;
    .promo-subtitle {
      @include font-typography-upper(
        $whiteColor,
        $fontFamilyWork,
        16px,
        normal,
        700,
        125%,
        5px,
        uppercase
      );
    }
    .promo-title {
      @include font-typography(
        $whiteColor,
        $fontFamilyCrimson,
        40px,
        normal,
        700,
        125%
      );
    }
    .header-subscribe {
      @include font-typography(
        $whiteColor75,
        $fontFamilyWork,
        15px,
        normal,
        400,
        125%
      );
    }
    .header-btn {
      @include font-typography(
        $blackColor,
        $fontFamilyWork,
        20px,
        normal,
        400,
        125%
      );
      width: 170px;
      border: 1px solid $whiteColor;
      border-radius: 5px;
      padding: 13px 0px;
      &:hover {
        background-color: $bgGreen;
        border: 1px solid $whiteColor;
        color: $whiteColor;
      }
    }
  }
  .promo-image {
    .promo-img {
      width: 644px;
    }
  }
}

main {
  flex-grow: 1;
  .main-wrapper {
    padding: 60px 130px 54px;
    .partners {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 55px;
      .partners-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        .partners-subtitle {
          @include font-typography-upper(
            $bgGreen,
            $fontFamilyWork,
            16px,
            normal,
            700,
            125%,
            5px,
            uppercase
          );
        }
        .partners-title {
          @include font-typography(
            $blackColor,
            $fontFamilyCrimson,
            40px,
            normal,
            700,
            125%
          );
        }
        .partners-subscribe {
          @include font-typography(
            $blackColor,
            $fontFamilyWork,
            20px,
            normal,
            400,
            125%
          );
        }
      }
      .partners-image {
        display: flex;
        gap: 68px;
      }
      .partners-btn {
        @include font-typography(
          $whiteColor,
          $fontFamilyWork,
          20px,
          normal,
          400,
          125%
        );
        border: 1px solid $darkColor100;
        border-radius: 5px;
        background: $darkColor100;
        padding: 13px 29px;
        &:hover {
          background: $whiteColor;
          color: $darkColor100;
        }
      }
    }
    .main-promo-first {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 110px;
      margin-top: 73px;
      margin-bottom: 73px;
      .main-image {
        .main-img {
          width: 600px;
        }
      }
      .main-text {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        .main-title {
          @include font-typography(
            $blackColor,
            $fontFamilyCrimson,
            40px,
            normal,
            700,
            125%
          );
        }
        .main-subscribe {
          @include font-typography(
            $darkColor50,
            $fontFamilyWork,
            15px,
            normal,
            400,
            125%
          );
        }
        .main-btn {
          @include font-typography(
            $whiteColor,
            $fontFamilyWork,
            20px,
            normal,
            400,
            125%
          );
          border: 1px solid $darkColor100;
          border-radius: 5px;
          background: $darkColor100;
          padding: 13px 29px;
          &:hover {
            background: $whiteColor;
            color: $darkColor100;
          }
        }
      }
    }
    .main-promo-second {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 110px;
      margin-bottom: 102px;
      .main-image {
        .main-img {
          width: 600px;
        }
      }
      .main-text {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        .main-title {
          @include font-typography(
            $blackColor,
            $fontFamilyCrimson,
            40px,
            normal,
            700,
            125%
          );
        }
        .main-subscribe {
          @include font-typography(
            $darkColor50,
            $fontFamilyWork,
            15px,
            normal,
            400,
            125%
          );
        }
        .main-btn {
          @include font-typography(
            $whiteColor,
            $fontFamilyWork,
            20px,
            normal,
            400,
            125%
          );
          border: 1px solid $darkColor100;
          border-radius: 5px;
          background: $darkColor100;
          padding: 13px 29px;
          &:hover {
            background: $whiteColor;
            color: $darkColor100;
          }
        }
      }
    }
    .team {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 45px;
      .team-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        .team-subtitle {
          @include font-typography-upper(
            $bgGreen,
            $fontFamilyWork,
            16px,
            normal,
            700,
            125%,
            5px,
            uppercase
          );
        }
        .team-title {
          @include font-typography(
            $darkColor100,
            $fontFamilyCrimson,
            40px,
            normal,
            700,
            125%
          );
        }
        .team-subscribe {
          width: 410px;
          text-align: center;
          @include font-typography(
            $blackColor,
            $fontFamilyWork,
            20px,
            normal,
            400,
            125%
          );
        }
      }
      .carousel-inner {
        align-content: center;
        text-align: center;
        padding: 10px 5px;
        .persons {
          display: flex;
          flex-direction: row;
          gap: 40px;
          .person {
            width: 260px;
            border-radius: 5px;
            background: #fff;
            box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
            padding: 20px 38px;
            .caption {
              text-align: start;
              .person-name {
                @include font-typography(
                  $darkColor100,
                  $fontFamilyCrimson,
                  24px,
                  normal,
                  700,
                  125%
                );
                margin-top: 19px;
                margin-bottom: 17px;
              }
              .person-pos {
                @include font-typography(
                  $darkColor75,
                  $fontFamilyWork,
                  15px,
                  normal,
                  400,
                  125%
                );
              }
            }
          }
        }
      }
      .carousel-control-prev {
        justify-content: start;
      }
      .carousel-control-prev-icon {
        background-image: url(/icons/prev.png);
      }
      .carousel-control-next {
        justify-content: end;
        margin-right: 1px;
      }
      .carousel-control-next-icon {
        background-image: url(/icons/next.png);
      }
      .main-btn {
        @include font-typography(
          $whiteColor,
          $fontFamilyWork,
          20px,
          normal,
          400,
          125%
        );
        border: 1px solid $darkColor100;
        border-radius: 5px;
        background: $darkColor100;
        padding: 13px 29px;

        &:hover {
          background: $whiteColor;
          color: $darkColor100;
        }
      }
    }

    .accordion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 50px;
      .accordion-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        .accordion-title {
          @include font-typography(
            $blackColor,
            $fontFamilyCrimson,
            40px,
            normal,
            700,
            125%
          );
        }
        .accordion-button {
          width: fit-content;
          padding: 10px;
          &:focus {
            box-shadow: none;
            background-color: transparent;
          }
        }
      }
      .accordion-collapse {
        .accordion-body {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 57px;
          .contact-subscribe {
            @include font-typography(
              $blackColor,
              $fontFamilyWork,
              20px,
              normal,
              400,
              125%
            );
            width: 410px;
            text-align: center;
          }
          .contact-section {
            width: 100%;
            display: flex;
            gap: 30px;
          }
          .contact-form {
            display: flex;
            flex-direction: column;
            gap: 21px;
            width: 50%;
            .form-label {
              @include font-typography(
                $blackColor,
                $fontFamilyWork,
                20px,
                normal,
                400,
                125%
              );
            }
            .form-control {
              border-radius: 5px;
              border: 1px solid $blackColor;
              background: $bgForm;
              margin-top: 11px;
              &:focus {
                box-shadow: none;
                border-color: black;
              }
            }
            .resize {
              resize: none;
            }
            .submit {
              border-radius: 5px;
              border: 1px solid $darkColor100;
              background: $darkColor100;
              padding: 10px;
              @include font-typography(
                $whiteColor,
                $fontFamilyWork,
                20px,
                normal,
                400,
                125%
              );
              &:hover {
                border: 1px solid $darkColor100;
                background: $whiteColor;
                color: $darkColor100;
              }
            }
          }
          .contact-map {
            width: 50%;
          }
        }
      }
    }
  }
}

footer {
  background-color: $bgGreen;
  .footer-wrapper {
    padding: 50px 131px;
    display: flex;
    justify-content: space-between;
    .social-icons {
      display: flex;
      gap: 20px;
    }
    .copy {
      @include font-typography(
        $whiteColor,
        $fontFamilyWork,
        20px,
        normal,
        400,
        125%
      );
    }
  }
}

@include tablet {
  .nav-menu.visible {
    display: none;
  }
  .nav-menu.hidden {
    display: block;
  }
}
@include mobile {
  body {
    width: 375px;
  }
  header {
    .header-wrapper {
      padding: 17px 20px 40px;
      .nav {
        margin-bottom: 32px;
        .logo {
          display: flex;
          align-items: center;
          gap: 10px;
          .logo-img {
            width: 45px;
          }
          .logo-text {
            @include font-typography(
              $whiteColor,
              $fontFamilyWork,
              30px,
              normal,
              500,
              125%
            );
          }
        }

        .nav-section {
          .nav-menu.hidden {
            .dropdown-menu {
              text-align: end;
            }
          }
        }
      }
    }

    .header-promo {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .promo-text {
        order: 1;
        padding: 0;
        .promo-title {
          @include font-typography(
            $whiteColor,
            $fontFamilyCrimson,
            28px,
            normal,
            700,
            125%
          );
        }
      }
      .promo-image {
        .promo-img {
          width: 335px;
          order: 0;
        }
      }
    }
  }
  
  main {
    .main-wrapper {
      padding: 22px 20px 39px;
      .partners {
        .partners-text {
          text-align: center;
          width: 280px;
          .partners-title {
            @include font-typography(
              $blackColor,
              $fontFamilyCrimson,
              24px,
              normal,
              700,
              125%
            );
          }
        }
        .partners-image {
          display: flex;
          flex-direction: column;
          gap: 40px;
        }
      }
      .main-promo-first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 60px;
        margin-bottom: 60px;
        .main-image {
          .main-img {
            width: 335px;
          }
        }
        .main-text {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 20px;
          .main-title {
            @include font-typography(
              $blackColor,
              $fontFamilyCrimson,
              24px,
              normal,
              700,
              125%
            );
          }
        }
      }
      .main-promo-second {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 40px;
        .main-text {
          order: 1;
          .main-title {
            @include font-typography(
              $blackColor,
              $fontFamilyCrimson,
              24px,
              normal,
              700,
              125%
            );
          }
        }
        .main-image {
          .main-img {
            width: 335px;
            order: 0;
          }
        }
      }

      .team {
        .team-text {
          .team-title {
            @include font-typography(
              $darkColor100,
              $fontFamilyCrimson,
              24px,
              normal,
              700,
              125%
            );
          }
          .team-subscribe {
            width: 330px;
          }
        }
        .carousel-inner {
          .persons {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }
      }

      .accordion {
        .accordion-text {
          .accordion-title {
            @include font-typography(
              $blackColor,
              $fontFamilyCrimson,
              24px,
              normal,
              700,
              125%
            );
          }
        }
        .accordion-collapse {
          .accordion-body {
            flex-direction: column;
            gap: 37px;
            .contact-subscribe {
              width: 300px;
            }
            .contact-section {
              flex-direction: column;
              gap: 20px;
            }
            .contact-form {
              width: 100%;
              order: 1;
            }
            .contact-map {
              order: 0;
              width: 100%;
              .map-img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  footer {
    .footer-wrapper {
      padding: 31px 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}
