@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Work+Sans:wght@100..900&display=swap");
@import "./variables.scss";
@import "./media.scss";
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// ==========header=================
header {
  background-color: $bgGreen;
  .header-wrapper {
    max-width: 1180px;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 82px;
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      .logo {
        display: flex;
        gap: 18px;
        .logo-img {
          width: 70px;
        }
        .logo-text {
          @include font-typography(
            $whiteColor,
            $fontFamilyWork,
            40px,
            normal,
            500,
            125%
          );
        }
      }

      .menu-list {
        display: block;
        .menu-items {
          display: flex;
          gap: 30px;
          .menu-item {
            @include font-typography(
              $whiteColor,
              $fontFamilyWork,
              20px,
              normal,
              400,
              125%
            );
            cursor: pointer;
            list-style: none;
          }
          .menu-item:hover {
            color: $whiteColor75;
          }
        }
      }
      .dropdown {
        display: none;
        .dropdown-toggle {
          width: 160px;
          text-align: center;
          border: none;
          padding: 0;
          &::after {
            display: none;
          }
          // .nav-img {

          // }
        }
        .dropdown-menu {
          text-align: center;
          background-color: transparent;
          border: none;
          gap: 2px;
          --bs-dropdown-link-active-bg: transparent;
          .menu-item {
            @include font-typography(
              $whiteColor,
              $fontFamilyWork,
              18px,
              normal,
              400,
              125%
            );
            cursor: pointer;
            list-style: none;
          }
        }
      }
    }

    .header-promo {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      // gap: 20px;
      .promo-text {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        // background-color: aqua;
        // padding: 40px 0;
        // padding-top: 40px;
        // padding-bottom: 40px;
        .promo-subtitle {
          margin-top: 40px;
          // background-color: green;
          @include font-typography-upper(
            $whiteColor,
            $fontFamilyWork,
            16px,
            normal,
            700,
            125%,
            5px,
            uppercase
          );
        }
        .promo-title {
          @include font-typography(
            $whiteColor,
            $fontFamilyCrimson,
            40px,
            normal,
            700,
            125%
          );
        }
        .header-subscribe {
          @include font-typography(
            $whiteColor75,
            $fontFamilyWork,
            15px,
            normal,
            400,
            125%
          );
        }
        .header-btn {
          @include font-typography(
            $blackColor,
            $fontFamilyWork,
            20px,
            normal,
            400,
            125%
          );
          width: 170px;
          border: 1px solid $whiteColor;
          border-radius: 5px;
          padding: 13px 0px;
          &:hover {
            background-color: $bgGreen;
            border: 1px solid $whiteColor;
            color: $whiteColor;
          }
        }
      }

      .promo-img {
        max-width: 100%;
        height: 100%;
      }
    }
  }
}

main {
  .main-wrapper {
    max-width: 1180px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 54px;
    .partners {
      display: grid;
      gap: 55px;
      .partners-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        .partners-subtitle {
          @include font-typography-upper(
            $bgGreen,
            $fontFamilyWork,
            16px,
            normal,
            700,
            125%,
            5px,
            uppercase
          );
        }
        .partners-title {
          @include font-typography(
            $blackColor,
            $fontFamilyCrimson,
            40px,
            normal,
            700,
            125%
          );
        }
        .partners-subscribe {
          @include font-typography(
            $blackColor,
            $fontFamilyWork,
            20px,
            normal,
            400,
            125%
          );
          text-align: center;
        }
      }
      .partners-image {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        img {
          justify-self: center;
          align-self: center;
        }
      }
      .partners-btn {
        // width: 170px;
        // margin: 0 auto;
        justify-self: center;
        border: 1px solid $darkColor100;
        border-radius: 5px;
        background: $darkColor100;
        padding: 13px 29px;
        &:hover {
          background: $whiteColor;
          color: $darkColor100;
        }
        @include font-typography(
          $whiteColor,
          $fontFamilyWork,
          20px,
          normal,
          400,
          125%
        );
      }
    }
    .main-promo-first {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 110px;
      margin-top: 73px;
      margin-bottom: 73px;
      .main-image {
        // width: 50%;
        .main-img {
          max-width: 100%;
          height: auto;
          // width: 100%;
        }
      }
      .main-text {
        // width: 470px;
        // width: 40%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        .main-title {
          @include font-typography(
            $blackColor,
            $fontFamilyCrimson,
            40px,
            normal,
            700,
            125%
          );
        }
        .main-subscribe {
          @include font-typography(
            $darkColor50,
            $fontFamilyWork,
            15px,
            normal,
            400,
            125%
          );
        }
        .main-btn {
          @include font-typography(
            $whiteColor,
            $fontFamilyWork,
            20px,
            normal,
            400,
            125%
          );
          border: 1px solid $darkColor100;
          border-radius: 5px;
          background: $darkColor100;
          padding: 13px 29px;
          &:hover {
            background: $whiteColor;
            color: $darkColor100;
          }
        }
      }
    }
    .main-promo-second {
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 110px;
      margin-bottom: 102px;
      .main-image {
        // width: 50%;
        .main-img {
          // width: 100%;
          max-width: 100%;
          height: auto;
        }
      }
      .main-text {
        // width: 470px;
        // width: 40%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;
        .main-title {
          @include font-typography(
            $blackColor,
            $fontFamilyCrimson,
            40px,
            normal,
            700,
            125%
          );
        }
        .main-subscribe {
          @include font-typography(
            $darkColor50,
            $fontFamilyWork,
            15px,
            normal,
            400,
            125%
          );
        }
        .main-btn {
          @include font-typography(
            $whiteColor,
            $fontFamilyWork,
            20px,
            normal,
            400,
            125%
          );
          border: 1px solid $darkColor100;
          border-radius: 5px;
          background: $darkColor100;
          padding: 13px 29px;
          &:hover {
            background: $whiteColor;
            color: $darkColor100;
          }
        }
      }
    }
    .team {
      display: grid;
      gap: 45px;
      .team-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        .team-subtitle {
          @include font-typography-upper(
            $bgGreen,
            $fontFamilyWork,
            16px,
            normal,
            700,
            125%,
            5px,
            uppercase
          );
        }
        .team-title {
          @include font-typography(
            $darkColor100,
            $fontFamilyCrimson,
            40px,
            normal,
            700,
            125%
          );
        }
        .team-subscribe {
          width: 410px;
          text-align: center;
          @include font-typography(
            $blackColor,
            $fontFamilyWork,
            20px,
            normal,
            400,
            125%
          );
        }
      }
      .carousel {
        .carousel-inner {
          padding: 10px 5px;
          .carousel-item {
            .persons {
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              gap: 40px;
              .person {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-radius: 5px;
                background: #fff;
                box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
                padding: 20px 30px;
                text-align: start;
                img {
                  max-width: 100%;
                  height: auto;
                }
                .person-name {
                  @include font-typography(
                    $darkColor100,
                    $fontFamilyCrimson,
                    24px,
                    normal,
                    700,
                    125%
                  );
                  margin-top: 19px;
                }
                .person-pos {
                  @include font-typography(
                    $darkColor75,
                    $fontFamilyWork,
                    15px,
                    normal,
                    400,
                    125%
                  );
                }
              }
            }
          }
        }
        .carousel-control-prev {
          justify-content: start;
        }
        .carousel-control-prev-icon {
          background-image: url(/icons/prev.png);
        }
        .carousel-control-next {
          justify-content: end;
          margin-right: 1px;
        }
        .carousel-control-next-icon {
          background-image: url(/icons/next.png);
        }
      }
      .main-btn {
        @include font-typography(
          $whiteColor,
          $fontFamilyWork,
          20px,
          normal,
          400,
          125%
        );
        justify-self: center;
        border: 1px solid $darkColor100;
        border-radius: 5px;
        background: $darkColor100;
        padding: 13px 29px;

        &:hover {
          background: $whiteColor;
          color: $darkColor100;
        }
      }
    }
    .accordion {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      margin-top: 50px;
      .accordion-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        .accordion-title {
          @include font-typography(
            $blackColor,
            $fontFamilyCrimson,
            40px,
            normal,
            700,
            125%
          );
        }
        .accordion-button {
          width: fit-content;
          padding: 10px;
          &:focus {
            box-shadow: none;
            background-color: transparent;
          }
        }
      }
      .accordion-collapse {
        .accordion-body {
          display: flex;
          flex-direction: column;
          gap: 57px;
          padding: 0;
          .contact-subscribe {
            width: 410px;
            margin: 0 auto;
            text-align: center;
            @include font-typography(
              $blackColor,
              $fontFamilyWork,
              20px,
              normal,
              400,
              125%
            );
          }
          .contact-section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 30px;
          }
          .contact-form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .form-label {
              @include font-typography(
                $blackColor,
                $fontFamilyWork,
                20px,
                normal,
                400,
                125%
              );
            }
            .form-control {
              border-radius: 5px;
              border: 1px solid $blackColor;
              background: $bgForm;
              margin-top: 15px;
              &:focus {
                box-shadow: none;
                border-color: black;
              }
            }
            .resize {
              resize: none;
            }
            .submit {
              border-radius: 5px;
              border: 1px solid $darkColor100;
              background: $darkColor100;
              padding: 10px;

              @include font-typography(
                $whiteColor,
                $fontFamilyWork,
                20px,
                normal,
                400,
                125%
              );
              &:hover {
                border: 1px solid $darkColor100;
                background: $whiteColor;
                color: $darkColor100;
              }
            }
          }
          .map-img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

footer {
  background-color: $bgGreen;
  .footer-wrapper {
    max-width: 1180px;
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    .social-icons {
      display: flex;
      gap: 20px;
    }
    .copy {
      @include font-typography(
        $whiteColor,
        $fontFamilyWork,
        20px,
        normal,
        400,
        125%
      );
    }
  }
}

// =====================================
@include desktop {
  header {
    .header-wrapper {
      max-width: 970px;
    }
  }
  main {
    .main-wrapper {
      max-width: 970px;
      .partners {
        .partners-image {
          grid-template-columns: repeat(3, 1fr);
          gap: 40px;
        }
      }
      .team {
        .carousel {
          .carousel-inner {
            .carousel-item {
              .persons {
                gap: 20px;
                .person {
                  padding: 20px;
                }
              }
            }
          }
        }
      }
      .accordion {
        .accordion-collapse {
          .accordion-body {
            .contact-form {
              gap: 5px;
              .form-control {
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
  footer {
    .footer-wrapper {
      max-width: 970px;
    }
  }
}

@include laptop {
  header {
    .header-wrapper {
      max-width: 740px;
    }
  }
  main {
    .main-wrapper {
      max-width: 740px;
      .main-promo-first {
        gap: 70px;
      }
      .main-promo-second {
        gap: 70px;
        margin-bottom: 80px;
      }
    }
  }

  footer {
    .footer-wrapper {
      max-width: 740px;
    }
  }
}

@include tablet {
  header {
    .header-wrapper {
      max-width: 500px;
      // padding-left: 20px;
      // padding-right: 20px;
      .nav {
        .menu-list {
          display: none;
        }
        .dropdown {
          display: block;
          // text-align: center;
          .dropdown-menu {
            background-color: transparent;
            border: none;
            gap: 2px;
            .menu-item {
              @include font-typography(
                $whiteColor,
                $fontFamilyWork,
                18px,
                normal,
                400,
                125%
              );
              cursor: pointer;
              list-style: none;
            }
          }
        }
      }
      .header-promo {
        grid-template-columns: repeat(1, 1fr);
        .promo-text {
          width: 100%;
          .promo-subtitle {
            margin-top: 60px;
          }
        }
      }
    }
  }
  main {
    .main-wrapper {
      max-width: 500px;
      // padding-left: 20px;
      // padding-right: 20px;
      .partners {
        gap: 45px;
        .partners-image {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 40px;
        }
      }
      .main-promo-first {
        gap: 60px;
      }
      .main-promo-second {
        gap: 40px;
        margin-bottom: 80px;
      }
      .team {
        .carousel {
          .carousel-inner {
            .carousel-item {
              .persons {
                grid-template-columns: repeat(2, 1fr);
                gap: 40px;
                .person {
                  padding: 15px 25px;
                }
              }
            }
          }
        }
      }
      .accordion {
        .accordion-collapse {
          .accordion-body {
            gap: 30px;
            .contact-section {
              grid-template-columns: repeat(1, 1fr);
              gap: 40px;
              .contact-form {
                gap: 15px;
                .form-label {
                  @include font-typography(
                    $blackColor,
                    $fontFamilyWork,
                    18px,
                    normal,
                    400,
                    50%
                  );
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    .footer-wrapper {
      max-width: 500px;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .social-icons {
        display: flex;
        gap: 20px;
      }
    }
  }
}

@include mobile {
  header {
    .header-wrapper {
      max-width: 90%;
      .nav {
        margin-bottom: 32px;
        .logo {
          display: flex;
          align-items: center;
          gap: 10px;
          .logo-img {
            width: 45px;
          }
          .logo-text {
            @include font-typography(
              $whiteColor,
              $fontFamilyWork,
              30px,
              normal,
              500,
              125%
            );
          }
        }
        .dropdown {
          .dropdown-toggle {
            width: 130px;
          }
        }
      }

      .header-promo {
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
        gap: 30px;
        .promo-text {
          order: 1;
          padding: 0;
          .promo-subtitle {
            margin-top: 30px;
          }
          .promo-title {
            @include font-typography(
              $whiteColor,
              $fontFamilyCrimson,
              28px,
              normal,
              700,
              125%
            );
          }
        }
      }
    }
  }
  main {
    .main-wrapper {
      max-width: 90%;
      margin: auto;
      padding-top: 22px;
      padding-bottom: 40px;
      .partners {
        .partners-text {
          .partners-title {
            @include font-typography(
              $blackColor,
              $fontFamilyCrimson,
              24px,
              normal,
              700,
              125%
            );
          }
          .partners-subscribe {
            width: 330px;
            text-align: center;
          }
        }
        .partners-image {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
        }
      }
      .main-promo-first {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-top: 60px;
        margin-bottom: 60px;
        .main-text {
          .main-title {
            @include font-typography(
              $blackColor,
              $fontFamilyCrimson,
              24px,
              normal,
              700,
              125%
            );
          }
          .main-subscribe {
            @include font-typography(
              $darkColor50,
              $fontFamilyWork,
              15px,
              normal,
              400,
              125%
            );
          }
        }
      }
      .main-promo-second {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-bottom: 40px;
        .main-text {
          order: 1;
          .main-title {
            @include font-typography(
              $blackColor,
              $fontFamilyCrimson,
              24px,
              normal,
              700,
              125%
            );
          }
        }
      }
      .team {
        display: grid;
        gap: 45px;
        .team-text {
          .team-title {
            @include font-typography(
              $darkColor100,
              $fontFamilyCrimson,
              24px,
              normal,
              700,
              125%
            );
          }
          .team-subscribe {
            width: 330px;
          }
        }
        .carousel {
          .carousel-inner {
            .carousel-item {
              .persons {
                justify-items: center;
                grid-template-columns: repeat(1, 1fr);
                gap: 35px;
                .person {
                  width: 70%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  border-radius: 5px;
                  background: #fff;
                  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
                  padding: 20px 30px;
                  text-align: start;
                  img {
                    max-width: 100%;
                    height: auto;
                  }
                }
              }
            }
          }
        }
      }
      .accordion {
        margin-top: 50px;
        .accordion-text {
          .accordion-title {
            @include font-typography(
              $blackColor,
              $fontFamilyCrimson,
              24px,
              normal,
              700,
              125%
            );
          }
        }
        .accordion-collapse {
          .accordion-body {
            gap: 45px;
            .contact-subscribe {
              width: 335px;
            }
            .contact-section {
              grid-template-columns: repeat(1, 1fr);
              .contact-form {
                order: 1;
              }
            }
          }
        }
      }
    }
  }

  footer {
    .footer-wrapper {
      max-width: 90%;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .social-icons {
        display: flex;
        gap: 15px;
      }
      .copy {
        @include font-typography(
          $whiteColor,
          $fontFamilyWork,
          16px,
          normal,
          400,
          125%
        );
      }
    }
  }
}
