@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Work+Sans:wght@100..900&display=swap");
$whiteColor: #ffffff;
$whiteColor75:rgba(255, 255, 255, 0.75);
$blackColor: #000000;

$bgWhite: #ffffff;
$bgGreen: #74c69d;

$darkColor100: #212529;
$darkColor75: rgba(33, 37, 41, 0.75);
$darkColor50: rgba(33, 37, 41, 0.5);
$boxShadowColor: rgba(0, 0, 0, 0.25);

$bgForm: #eee;

$fontFamilyWork: "Work Sans", sans-serif;
$fontFamilyCrimson: "Crimson Text", serif;

$fontSize15: 15px;
$fontSize16: 16px;
$fontSize20: 20px;
$fontSize24: 24px;
$fontSize28: 28px;
$fontSize30: 30px;
$fontSize40: 40px;

$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight500: 700;

$breakpoint_xxl: 1440px;
$breakpoint_l: 1000px;
$breakpoint_md: 500px;
$breakpoint_sm: 375px;
